.intro-btn {
    text-transform: uppercase;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 150px;
    padding: 20px 90px;
    border-radius: 5px;

    @media only screen and (max-width: 320px) {
      padding: 30px 80px;
    }
  }